services:
  frontend:
    build:
      context: ./
      dockerfile: Dockerfile.predictive-maintenance-app
    image: predictive-maintenance-app-frontend:latest
    ports:
      - "8080:8080"
    restart: always
    container_name: predictive-maintenance-app-frontend
    env_file:
      - ./predictive-maintenance-app/.env.local
    volumes:
      - ~/.aws/credentials:/home/nextjs/.aws/credentials:ro
      - ~/.aws/config:/home/nextjs/.aws/config:ro
      - ~/.aws/sso/cache:/home/nextjs/.aws/sso/cache:rw
  alerts-app:
    build:
      context: ./
      dockerfile: Dockerfile.alerts-app
    image: alerts-app:latest
    ports:
      - "5003:8080"
    restart: always
    container_name: alerts-app
    env_file:
      - ./alerts-app/.env
  inference-service:
    build:
      context: ./
      dockerfile: Dockerfile.failure-prediction-module
    image: inference-service:latest
    restart: always
    container_name: inference-service
    env_file:
      - ./failure-prediction-module/.env
