.body {
    margin: 50px;
}

.pageInfo {
    width: 100%;
}

.howTo {
    margin-top: 20px;
    width: max-content;
}

.h2 {
    margin-bottom: 10px;
}

.runMachineSection {
    margin-top: 30px;
}

.dataCardsSection {
    margin-top: 30px;
    display: flex;
}

.streamProcessingSection {
    margin-top: 30px;
}

.card {
    background: rgb(246, 246, 246);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow: auto;
    width: fit-content;
    margin-right: 30px;
}

.card h3 {
    margin-top: 0;
}

.viewAlertButton{
    margin-top: 30px;
    margin-bottom: 50px;
}

.chartSection {
    background-color: white;
    border: none;
    width: 100%;
    height: 650px;
    border-radius: 10px;
}

.image{
    width: 15px;
}

.popup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 30px;
    background-color: #001E2B;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }

  .popupTitle{
    color: white;
    font-weight: 500;
  }
  
  .popupBody{
    color: white;
  }