.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.03); /* Adjust values as needed */
  }
    
  .links a {
    margin-right: 30px;
    color: #001E2B;
    text-decoration: none;
  }

  .links a:hover{
    color: #13aa52;
  }
   
    