<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appId</key>
	<string></string>
	<key>appUrl</key>
	<string></string>
	<key>baseUrl</key>
	<string></string>
	<key>clientApiBaseUrl</key>
	<string></string>
	<key>dataApiBaseUrl</key>
	<string></string>
	<key>dataExplorerLink</key>
	<string></string>
	<key>dataSourceName</key>
	<string>mongodb-atlas</string>
</dict>
</plist>
